In [59]:
# necessary imports
from bs4 import BeautifulSoup
import requests
import numpy as py
import pandas as pd

In [60]:
# get page request for region
# make sure to replace with region wanted
page = requests.get('https://liquipedia.net/rocketleague/Rocket_League_Championship_Series/2022-23/Rankings/Sub-Saharan_Africa')

In [61]:
# ------- change this to the correct toggle-area-content -------
toggle_content = "10"

pagetree = BeautifulSoup(page.text, "html.parser")
table = pagetree.find_all('table', class_='wikitable')
all_rows = table[0].find_all(attrs={"data-toggle-area-content": toggle_content})

In [62]:
# scrapped data DF
# ------- may need to change the deductions columns by region -------
scrapped_data = pd.DataFrame(columns = [
  'ranking', 'movement', 'team', 'total_points',
  'fall_open', 'fall_cup', 'fall_invitational', 'fall_major',
  'win_open', 'win_cup', 'win_invitational', 'win_major',
  'spr_open', 'spr_cup', 'spr_invitational', 'spr_major'
])

In [63]:
# Get the data in the table
for row in all_rows:
  cols = row.find_all('td')
  this_row = []
  i = 0
  for col in cols:
    i+= 1
    this_row.append(col.text.strip())

  scrapped_data.loc[scrapped_data.shape[0]+1] = this_row

In [64]:
# remove columns we don't care about
scrapped_data = scrapped_data.loc[:,
  ~scrapped_data.columns.isin([
    'ranking', 'movement',
    'total_points'
  ])
]

In [65]:
# preview
scrapped_data.head()

,team,fall_open,deductions,fall_cup,fall_invitational,win_open,win_cup,win_invitational,spr_open,spr_cup,spr_invitational
1,May contain nuts,16,,2,2,,,,,,
2,Orlando Pirates Exdee,12,,2,2,,,,,,
3,Millennial Times Gaming,9,,2,2,,,,,,
4,Reformed,9,,2,2,,,,,,
5,ATK,6,,2,2,,,,,,

In [66]:
# write to csv
# ------- BE SURE TO WRITE TO THE CORRECT CSV NAME -------
scrapped_data.to_csv("../data/rlcs_2021-2022/scrapped_data.csv", index=False)