In [46]:
# necessary imports
from bs4 import BeautifulSoup
import requests
import numpy as py
import pandas as pd

In [47]:
# get page request for region
# make sure to replace with region wanted
page = requests.get('https://liquipedia.net/rocketleague/Rocket_League_Championship_Series/2021-22/Rankings/Sub-Saharan_Africa')

In [48]:
# ------- change this to the correct toggle-area-content -------
toggle_content = "16"

pagetree = BeautifulSoup(page.text, "html.parser")
table = pagetree.find_all('table', class_='wikitable')
all_rows = table[0].find_all(attrs={"data-toggle-area-content": toggle_content})

In [49]:
# scrapped data DF
# ------- may need to change the deductions columns by region -------
scrapped_data = pd.DataFrame(columns = [
  'ranking', 'movement', 'team', 'total_points',
  'fall_reg1', 'deductions', 'fall_reg2', 'deductions', 'fall_reg3', 'deductions',
  'win_reg1', 'deductions', 'win_reg2', 'deductions', 'win_reg3', 'deductions',
  'spr_reg1', 'spr_reg2', 'deductions',  'spr_reg3'
])

In [50]:
# Get the data in the table
for row in all_rows:
  cols = row.find_all('td')
  this_row = []
  i = 0
  for col in cols:
    i+= 1
    this_row.append(col.text.strip())

  scrapped_data.loc[scrapped_data.shape[0]+1] = this_row

In [51]:
# remove columns we don't care about
scrapped_data = scrapped_data.loc[:,
  ~scrapped_data.columns.isin([
    'ranking', 'movement',
    'total_points'
  ])
]

In [52]:
# preview
scrapped_data.head()

,team,fall_reg1,deductions,fall_reg2,deductions,fall_reg3,deductions,win_reg1,deductions,win_reg2,deductions,win_reg3,deductions,spr_reg1,spr_reg2,deductions,spr_reg3
1,Orlando Pirates,301,,301,,301,,300,,351,,351,,401,350,,350
2,Bravado Gaming,200,,250,,200,,351,,260,,300,,350,401,,401
3,ATK,250,,200,,250,,190,,300,,260,,130,210,,250
4,AIPX Gaming,200,,150,,200,,160,,160,,190,,300,250,,180
5,DNMK Esports,150,,200,,150,,220,,190,,110,,250,300,,210

In [53]:
# write to csv
# ------- BE SURE TO WRITE TO THE CORRECT CSV NAME -------
scrapped_data.to_csv("../data/scrapped_data.csv", index=False)